<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit row</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body class="alert">
<div class="alert alert-primary">
    <div class="row">
        <div class="col-2">
            <form th:action="@{'/main/'}" th:method="get" type="button"
                  class="d-flex justify-content-start">
                <input type="submit" value="Back" class="btn btn-outline-secondary"/>
            </form>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post" class="d-flex justify-content-end">
                <input type="submit" th:value="${' sign out'}"
                       class="btn btn-outline-danger"/>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <h3>Edit list name</h3>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card-body">
            <form th:action="@{'/main/editListName/'+${list.listId}}" th:object="${list}" method="post">
                <div class="form-group">
                    <label>List name</label>
                    <input th:field="*{listName}"
                              class="form-control">
                </div>
                <div class="form-group" th:hidden="${true}">
                    <label>Абзацы</label>
                    <input th:field="*{parts}" class="form-control">
                </div>
                <div class="form-group" th:hidden="${true}">
                    <label>ListId</label>
                    <input th:field="*{listId}" class="form-control">
                </div>
                <input type="submit" value="Обновить" class="btn btn-primary btn-lg btn-block"/>
            </form>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>
</html>
